@import '../../../variables.styles';

.header {
  .text{
    margin-right: $marginSizeSmall;
    textarea{
      width: 100%;
      resize: none;
    }
  }
  .add{
    height: 100%;
  }
}

.comment {
  .time{
    min-width: 150px;
    margin-right: $marginSizeSmall;
  }
  .item {
    margin-right: $marginSizeSmall;
  }
}
